<!doctype html>
<html>
    <head>
        <title>
            Welcome to BITCOINWORLD
        </title>
        <style type="text/css">
            body {
              color: rgb(18, 173, 148);
              background-color: #00ffdd7c }
        </style>
        <h1 align="center">Welcome to BITCOINWORLD</h1>
    </head>
    <body>

        <li><a href="data_bitcoin" align=center>Click here for the data</a>
        <li><a href="plot_bitcoin" align=center>Click here for the plot</a>


    </body>
</html>